<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h1>Welcome!</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <p>We're glad you're here. Explore and enjoy!</p>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-md-4 text-center">
            <a href="./livedata" class="btn btn-secondary" style="width: 150px;">Live Distances</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <a href="./theremin" class="btn btn-secondary" style="width: 150px;">Theremin</a>
        </div>
    </div>
</div>
